[data-cellid="grid_footcell_field"][data-page="kpi_taux_execution_budgetaire_list"][data-cellid="grid_footcell_field"][data-page="kpi_taux_execution_budgetaire_list"][data-cellid="grid_footcell_field"][data-page="kpi_taux_execution_budgetaire_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="kpi_taux_execution_budgetaire_list"][data-cellid="grid_headcell_checkbox"][data-page="kpi_taux_execution_budgetaire_list"][data-cellid="grid_headcell_checkbox"][data-page="kpi_taux_execution_budgetaire_list"] {
  width: 30px;
}
[data-page="kpi_taux_execution_budgetaire_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


