<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-list"   
		>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="240px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Développer" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{BEGIN menuitems_main}
<ul data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}"	class="r-menu nav menu-treelike" 
	data-menulevel="1"
>

{BEGIN item_children1}
<li class="
	{$item_current}">
<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline data-menu-top >
	{$item_separator}
	<span class="r-menu-link r-menu-expanded "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
		<span class="r-menu-collapsed">{$item_collicon}{$item_firstcap}</span>
	</a>
{BEGIN item_showchildren2}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="2">
	{BEGIN item_children2}
		{BEGIN item_menulink2}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
	</a>
			{BEGIN item_showchildren3}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="3">
	{BEGIN item_children3}
		{BEGIN item_menulink3}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren3}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren3}
	</span>
	</a>
			{BEGIN item_showchildren4}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="4">
	{BEGIN item_children4}
		{BEGIN item_menulink4}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren4}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren4}
	</span>
	</a>
			{BEGIN item_showchildren5}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="5">
	{BEGIN item_children5}
		{BEGIN item_menulink5}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren5}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren5}
	</span>
	</a>
					</li>
		{END item_menulink5}
	{END item_children5}
</ul>
{END item_showchildren5}
		</li>
		{END item_menulink4}
	{END item_children4}
</ul>
{END item_showchildren4}
		</li>
		{END item_menulink3}
	{END item_children3}
</ul>
{END item_showchildren3}
		</li>
		{END item_menulink2}
	{END item_children2}
</ul>
{END item_showchildren2}
</li>
{END item_children1}
</ul>
{END menuitems_main}
			</div>
		
 

			<div class="clearfix  r-ori-vert" data-cellId="left_c1" data-pageid="{$pageid}" data-itemid="search_panel" {$item_search_panel} data-topcell-item-type="search_panel" >
				<!-- Begin Search panel content -->
<div class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} data-itemtype="search_panel" data-itemid="search_panel" {$item_search_panel} data-pageid="{$pageid}"	 >

	<div class="panel-heading">
		<div class="btn-group r-sp-addfield" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle btn-sm )" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Chercher dans			<span class="caret"></span>
			</button>
		</div>


		<div class="btn-group r-sp-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>Montrer options</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>Toutes les conditions</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>Chaque condition</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>Cacher</a></li>
			</ul>
		</div>


		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}
																		{BEGIN searchCtrlBlock_activites_en_cours}


		<div class="form-group srchPanelRow {$filterRow_class_activites_en_cours}" {$filterRow_attrs_activites_en_cours}>
			<label>{$label vue_kpi_portefeuille activites_en_cours }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_activites_en_cours}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_activites_en_cours}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_activites_en_cours}</span>
						</div>
		{END searchCtrlBlock_activites_en_cours}
																{BEGIN searchCtrlBlock_taux_execution_budgetaire}


		<div class="form-group srchPanelRow {$filterRow_class_taux_execution_budgetaire}" {$filterRow_attrs_taux_execution_budgetaire}>
			<label>{$label vue_kpi_portefeuille taux_execution_budgetaire }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_taux_execution_budgetaire}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_taux_execution_budgetaire}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_taux_execution_budgetaire}</span>
						</div>
		{END searchCtrlBlock_taux_execution_budgetaire}
																{BEGIN searchCtrlBlock_projets_termines}


		<div class="form-group srchPanelRow {$filterRow_class_projets_termines}" {$filterRow_attrs_projets_termines}>
			<label>{$label vue_kpi_portefeuille projets_termines }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_projets_termines}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_projets_termines}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_projets_termines}</span>
						</div>
		{END searchCtrlBlock_projets_termines}
																{BEGIN searchCtrlBlock_projets_en_retard}


		<div class="form-group srchPanelRow {$filterRow_class_projets_en_retard}" {$filterRow_attrs_projets_en_retard}>
			<label>{$label vue_kpi_portefeuille projets_en_retard }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_projets_en_retard}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_projets_en_retard}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_projets_en_retard}</span>
						</div>
		{END searchCtrlBlock_projets_en_retard}
																{BEGIN searchCtrlBlock_projets_en_cours}


		<div class="form-group srchPanelRow {$filterRow_class_projets_en_cours}" {$filterRow_attrs_projets_en_cours}>
			<label>{$label vue_kpi_portefeuille projets_en_cours }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_projets_en_cours}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_projets_en_cours}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_projets_en_cours}</span>
						</div>
		{END searchCtrlBlock_projets_en_cours}
																{BEGIN searchCtrlBlock_projets_depassement_budget}


		<div class="form-group srchPanelRow {$filterRow_class_projets_depassement_budget}" {$filterRow_attrs_projets_depassement_budget}>
			<label>{$label vue_kpi_portefeuille projets_depassement_budget }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_projets_depassement_budget}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_projets_depassement_budget}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_projets_depassement_budget}</span>
						</div>
		{END searchCtrlBlock_projets_depassement_budget}
																{BEGIN searchCtrlBlock_depenses_realisees}


		<div class="form-group srchPanelRow {$filterRow_class_depenses_realisees}" {$filterRow_attrs_depenses_realisees}>
			<label>{$label vue_kpi_portefeuille depenses_realisees }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_depenses_realisees}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_depenses_realisees}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_depenses_realisees}</span>
						</div>
		{END searchCtrlBlock_depenses_realisees}
																{BEGIN searchCtrlBlock_budget_restant}


		<div class="form-group srchPanelRow {$filterRow_class_budget_restant}" {$filterRow_attrs_budget_restant}>
			<label>{$label vue_kpi_portefeuille budget_restant }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_budget_restant}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_budget_restant}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_budget_restant}</span>
						</div>
		{END searchCtrlBlock_budget_restant}
																{BEGIN searchCtrlBlock_budget_global}


		<div class="form-group srchPanelRow {$filterRow_class_budget_global}" {$filterRow_attrs_budget_global}>
			<label>{$label vue_kpi_portefeuille budget_global }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_budget_global}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_budget_global}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_budget_global}</span>
						</div>
		{END searchCtrlBlock_budget_global}
																{BEGIN searchCtrlBlock_activites_terminees}


		<div class="form-group srchPanelRow {$filterRow_class_activites_terminees}" {$filterRow_attrs_activites_terminees}>
			<label>{$label vue_kpi_portefeuille activites_terminees }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_activites_terminees}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_activites_terminees}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_activites_terminees}</span>
						</div>
		{END searchCtrlBlock_activites_terminees}
																{BEGIN searchCtrlBlock_activites_en_retard}


		<div class="form-group srchPanelRow {$filterRow_class_activites_en_retard}" {$filterRow_attrs_activites_en_retard}>
			<label>{$label vue_kpi_portefeuille activites_en_retard }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_activites_en_retard}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_activites_en_retard}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_activites_en_retard}</span>
						</div>
		{END searchCtrlBlock_activites_en_retard}
		

	</div>

	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary btn-sm" id="searchButton{$id}" {$searchbutton_attrs}>Rechercher</button>

				<button class="btn btn-default btn-sm" {$showAllCont_attrs} {$showallbutton_attrs}>Montrer tout</button>
	</div>
</div>
<!-- End Search panel content -->
			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div  class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Afficher le menu" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Réduire" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="breadcrumb" {$item_breadcrumb} data-topcell-item-type="breadcrumb" >
				{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
				<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Montrer tout">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}

	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-cog"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
				<a   href="vue_kpi_portefeuille_search.php{$stateLink_full}" {$advsearchlink_attrs}  title="" >
				
		Recherche avancée		
		</a>
	</li>
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="show_search_panel" data-itemid="show_search_panel" {$item_show_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="showOptPanel{$id}"  title="" >
				
		Afficher le panneau de recherche		
		</a>
	</li>
{END searchPanelTopButtons}
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="hide_search_panel" data-itemid="hide_search_panel" {$item_hide_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="hideOptPanel{$id}"  title="" >
				
		Cacher le panneau de recherche		
		</a>
	</li>
{END searchPanelTopButtons}
							<li role="separator" class="divider"></li>							{BEGIN export_link}
	<li data-itemtype="export" data-itemid="export" {$item_export} data-pageid="{$pageid}" data-small >
				<a  href="#" {$exportlink_attrs}  title="" >
				
		Exporter résultats		
		</a>
	</li>
{END export_link}
							<li role="separator" class="divider"></li>							{BEGIN import_link}
	<li data-itemtype="import" data-itemid="import" {$item_import} data-pageid="{$pageid}" data-small >
				<a  {$importlink_attrs} href="vue_kpi_portefeuille_import.php{$stateLink_full}"  title="" >
				
		Importer		
		</a>
	</li>
{END import_link}
					</ul>
	</span>
</span>
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	</div>		
{END top_block}
						</div>
											<div class="r-above">
					{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-6
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-small >
{$mlp_push}{$mlparam first var first_shown}{$mlparam last var last_shown}{$mlparam total var records_found}{mlang_message DISPLAYING}{$mlp_pop}</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$recsPerPage}
</span>	 
		{BEGIN print_friendly}
<span id="printpanelblock{$id}"  data-pageid="{$pageid}" {$printpanel_hiddenattr} data-itemtype="print_panel" data-itemid="print_panel" {$item_print_panel} data-pageid="{$pageid}">
	<button title="Page imprimable" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-print"></span>
				<span class="caret"></span>
	</button>
	<ul class="dropdown-menu pull-right">
										 
				 
					<li class="container-fluid 
										">
									<div id="print_friendly_scope{$id}">
	<div class="row">
		<div class="col-md-4">
			Portée:		</div>

			 
		{BEGIN print_friendly_all}
		<div class="col-md-8">
			<label for="printAll{$id}">
				<input type="radio" id="printAll{$id}" data-href="vue_kpi_portefeuille_print.php?all=1&amp;{$crosstable_attrs}" name="printScope" >
									Imprimer toutes les pages							</label>
		</div>
		{END print_friendly_all}
		</div>
		<div class="row">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-8">
			<label for="printPage{$id}">
				<input name="printScope" id="printPage{$id}" type="radio" checked data-href="vue_kpi_portefeuille_print.php?{$crosstable_attrs}">
				Imprimer cette page			</label>
		</div>
	</div>
		
	</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
										">
									<div>
	<label for="printPerPage{$id}">
					Enregistrements par page							
	</label>
	<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
					 text-center 					">
									<span data-itemtype="print_button" data-itemid="print_button" {$item_print_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" id="print_friendly_button{$id}" >
							Imprimer			</a>
</span>
				 
					</li>
															</ul>
</span>
{END print_friendly}
		</div>					</div>
			</div>		
{END above-grid_block}
	</div>
<div class="r-grid">
	{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
					{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}	<style>
@media screen and (max-width: 767px) {
		[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="projets_en_cours"]:before {
		content: "{$label vue_kpi_portefeuille projets_en_cours}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="projets_termines"]:before {
		content: "{$label vue_kpi_portefeuille projets_termines}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="projets_en_retard"]:before {
		content: "{$label vue_kpi_portefeuille projets_en_retard}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="projets_depassement_budget"]:before {
		content: "{$label vue_kpi_portefeuille projets_depassement_budget}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="activites_en_cours"]:before {
		content: "{$label vue_kpi_portefeuille activites_en_cours}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="activites_en_retard"]:before {
		content: "{$label vue_kpi_portefeuille activites_en_retard}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="activites_terminees"]:before {
		content: "{$label vue_kpi_portefeuille activites_terminees}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="budget_global"]:before {
		content: "{$label vue_kpi_portefeuille budget_global}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="depenses_realisees"]:before {
		content: "{$label vue_kpi_portefeuille depenses_realisees}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="budget_restant"]:before {
		content: "{$label vue_kpi_portefeuille budget_restant}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="taux_execution_budgetaire"]:before {
		content: "{$label vue_kpi_portefeuille taux_execution_budgetaire}";
	}
	}
</style>
<table data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" class=" table table-striped table-bordered r-horizontal-grid  r-flexgrid rnr-b-grid rnr-gridtable"
	cellpadding="0"
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
			
																									<tr {$rowattrs} {$row_grid_0} class="{$rowclass}
									{$gridHeader_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_headcell_checkbox}
	<th
	
	{$cell_grid_headcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vue_kpi_portefeuille_list"	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox_head" data-itemid="grid_checkbox_head" {$item_grid_checkbox_head} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkboxheader_attrs}>
</span>
{END checkbox_column}
	
	</th>
	{END cellblock_grid_headcell_checkbox}
									{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$projets_en_cours_class}	"

			data-field="projets_en_cours"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN projets_en_cours_fieldheadercolumn}
	{BEGIN projets_en_cours_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="projets_en_cours" data-fieldname="projets_en_cours" 

			{$projets_en_cours_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label vue_kpi_portefeuille projets_en_cours }</span>
					{$arrow_icon_projets_en_cours}
			</span>
	</span>
	{END projets_en_cours_fieldheader}
{END projets_en_cours_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
									{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$projets_termines_class}	"

			data-field="projets_termines"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN projets_termines_fieldheadercolumn}
	{BEGIN projets_termines_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="projets_termines" data-fieldname="projets_termines" 

			{$projets_termines_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label vue_kpi_portefeuille projets_termines }</span>
					{$arrow_icon_projets_termines}
			</span>
	</span>
	{END projets_termines_fieldheader}
{END projets_termines_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
									{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$projets_en_retard_class}	"

			data-field="projets_en_retard"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN projets_en_retard_fieldheadercolumn}
	{BEGIN projets_en_retard_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="projets_en_retard" data-fieldname="projets_en_retard" 

			{$projets_en_retard_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label vue_kpi_portefeuille projets_en_retard }</span>
					{$arrow_icon_projets_en_retard}
			</span>
	</span>
	{END projets_en_retard_fieldheader}
{END projets_en_retard_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
									{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$projets_depassement_budget_class}	"

			data-field="projets_depassement_budget"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN projets_depassement_budget_fieldheadercolumn}
	{BEGIN projets_depassement_budget_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="projets_depassement_budget" data-fieldname="projets_depassement_budget" 

			{$projets_depassement_budget_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label vue_kpi_portefeuille projets_depassement_budget }</span>
					{$arrow_icon_projets_depassement_budget}
			</span>
	</span>
	{END projets_depassement_budget_fieldheader}
{END projets_depassement_budget_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
									{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$activites_en_cours_class}	"

			data-field="activites_en_cours"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN activites_en_cours_fieldheadercolumn}
	{BEGIN activites_en_cours_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="activites_en_cours" data-fieldname="activites_en_cours" 

			{$activites_en_cours_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label vue_kpi_portefeuille activites_en_cours }</span>
					{$arrow_icon_activites_en_cours}
			</span>
	</span>
	{END activites_en_cours_fieldheader}
{END activites_en_cours_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
									{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$activites_en_retard_class}	"

			data-field="activites_en_retard"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN activites_en_retard_fieldheadercolumn}
	{BEGIN activites_en_retard_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="activites_en_retard" data-fieldname="activites_en_retard" 

			{$activites_en_retard_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label vue_kpi_portefeuille activites_en_retard }</span>
					{$arrow_icon_activites_en_retard}
			</span>
	</span>
	{END activites_en_retard_fieldheader}
{END activites_en_retard_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
									{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$activites_terminees_class}	"

			data-field="activites_terminees"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN activites_terminees_fieldheadercolumn}
	{BEGIN activites_terminees_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="activites_terminees" data-fieldname="activites_terminees" 

			{$activites_terminees_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label vue_kpi_portefeuille activites_terminees }</span>
					{$arrow_icon_activites_terminees}
			</span>
	</span>
	{END activites_terminees_fieldheader}
{END activites_terminees_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
									{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$budget_global_class}	"

			data-field="budget_global"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN budget_global_fieldheadercolumn}
	{BEGIN budget_global_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="budget_global" data-fieldname="budget_global" 

			{$budget_global_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label vue_kpi_portefeuille budget_global }</span>
					{$arrow_icon_budget_global}
			</span>
	</span>
	{END budget_global_fieldheader}
{END budget_global_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
									{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$depenses_realisees_class}	"

			data-field="depenses_realisees"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN depenses_realisees_fieldheadercolumn}
	{BEGIN depenses_realisees_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="depenses_realisees" data-fieldname="depenses_realisees" 

			{$depenses_realisees_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label vue_kpi_portefeuille depenses_realisees }</span>
					{$arrow_icon_depenses_realisees}
			</span>
	</span>
	{END depenses_realisees_fieldheader}
{END depenses_realisees_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
									{BEGIN cellblock_grid_headcell_field9}
	<th
	
	{$cell_grid_headcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$budget_restant_class}	"

			data-field="budget_restant"
	
	data-cellId="grid_headcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN budget_restant_fieldheadercolumn}
	{BEGIN budget_restant_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field20" {$item_simple_grid_field20} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="budget_restant" data-fieldname="budget_restant" 

			{$budget_restant_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label vue_kpi_portefeuille budget_restant }</span>
					{$arrow_icon_budget_restant}
			</span>
	</span>
	{END budget_restant_fieldheader}
{END budget_restant_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field9}
									{BEGIN cellblock_grid_headcell_field10}
	<th
	
	{$cell_grid_headcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$taux_execution_budgetaire_class}	"

			data-field="taux_execution_budgetaire"
	
	data-cellId="grid_headcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN taux_execution_budgetaire_fieldheadercolumn}
	{BEGIN taux_execution_budgetaire_fieldheader}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field21" {$item_simple_grid_field21} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="taux_execution_budgetaire" data-fieldname="taux_execution_budgetaire" 

			{$taux_execution_budgetaire_orderlinkattrs}
	
	
	>
	<span class="text-label">
		<span>{$label vue_kpi_portefeuille taux_execution_budgetaire }</span>
					{$arrow_icon_taux_execution_budgetaire}
			</span>
	</span>
	{END taux_execution_budgetaire_fieldheader}
{END taux_execution_budgetaire_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field10}
							</tr>
															
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
							
																														<tr {$rowattrs} {$row_grid_1} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_checkbox}
	<td
	
	{$cell_grid_cell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"		data-control-cell
	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox" data-itemid="grid_checkbox" {$item_grid_checkbox} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkbox_attrs}
		>
</span>	
{END checkbox_column}
	
	</td>
	{END cellblock_grid_cell_checkbox}
									{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$projets_en_cours_class}	"

			data-field="projets_en_cours"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN projets_en_cours_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="projets_en_cours" data-fieldname="projets_en_cours" data-default-width >
{$projets_en_cours_value}
</span>
{END projets_en_cours_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
									{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$projets_termines_class}	"

			data-field="projets_termines"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN projets_termines_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="projets_termines" data-fieldname="projets_termines" data-default-width >
{$projets_termines_value}
</span>
{END projets_termines_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
									{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$projets_en_retard_class}	"

			data-field="projets_en_retard"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN projets_en_retard_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="projets_en_retard" data-fieldname="projets_en_retard" data-default-width >
{$projets_en_retard_value}
</span>
{END projets_en_retard_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
									{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$projets_depassement_budget_class}	"

			data-field="projets_depassement_budget"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN projets_depassement_budget_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="projets_depassement_budget" data-fieldname="projets_depassement_budget" data-default-width >
{$projets_depassement_budget_value}
</span>
{END projets_depassement_budget_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
									{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$activites_en_cours_class}	"

			data-field="activites_en_cours"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN activites_en_cours_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="activites_en_cours" data-fieldname="activites_en_cours" data-default-width >
{$activites_en_cours_value}
</span>
{END activites_en_cours_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
									{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$activites_en_retard_class}	"

			data-field="activites_en_retard"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN activites_en_retard_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="activites_en_retard" data-fieldname="activites_en_retard" data-default-width >
{$activites_en_retard_value}
</span>
{END activites_en_retard_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
									{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$activites_terminees_class}	"

			data-field="activites_terminees"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN activites_terminees_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="activites_terminees" data-fieldname="activites_terminees" data-default-width >
{$activites_terminees_value}
</span>
{END activites_terminees_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
									{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$budget_global_class}	"

			data-field="budget_global"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN budget_global_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="budget_global" data-fieldname="budget_global" data-default-width >
{$budget_global_value}
</span>
{END budget_global_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
									{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$depenses_realisees_class}	"

			data-field="depenses_realisees"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN depenses_realisees_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="depenses_realisees" data-fieldname="depenses_realisees" data-default-width >
{$depenses_realisees_value}
</span>
{END depenses_realisees_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
									{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$budget_restant_class}	"

			data-field="budget_restant"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN budget_restant_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="budget_restant" data-fieldname="budget_restant" data-default-width >
{$budget_restant_value}
</span>
{END budget_restant_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
									{BEGIN cellblock_grid_cell_field10}
	<td
	
	{$cell_grid_cell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$taux_execution_budgetaire_class}	"

			data-field="taux_execution_budgetaire"
	
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN taux_execution_budgetaire_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="taux_execution_budgetaire" data-fieldname="taux_execution_budgetaire" data-default-width >
{$taux_execution_budgetaire_value}
</span>
{END taux_execution_budgetaire_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field10}
							</tr>
										
											{END grid_row}
					</tbody>
													<tfoot>
			
																																			<tr {$rowattrs} {$row_grid_2} class="{$rowclass}
									{$gridFooter_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_footcell_checkbox}
	<td
	
	{$cell_grid_footcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_checkbox}
									{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$projets_en_cours_class}	"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vue_kpi_portefeuille_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
									{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$projets_termines_class}	"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vue_kpi_portefeuille_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
									{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$projets_en_retard_class}	"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vue_kpi_portefeuille_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
									{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$projets_depassement_budget_class}	"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vue_kpi_portefeuille_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
									{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$activites_en_cours_class}	"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vue_kpi_portefeuille_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
									{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$activites_en_retard_class}	"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vue_kpi_portefeuille_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
									{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$activites_terminees_class}	"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vue_kpi_portefeuille_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
									{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$budget_global_class}	"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vue_kpi_portefeuille_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
									{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$depenses_realisees_class}	"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vue_kpi_portefeuille_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
									{BEGIN cellblock_grid_footcell_field9}
	<td
	
	{$cell_grid_footcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$budget_restant_class}	"

	
	data-cellId="grid_footcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vue_kpi_portefeuille_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field9}
									{BEGIN cellblock_grid_footcell_field10}
	<td
	
	{$cell_grid_footcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$taux_execution_budgetaire_class}	"

	
	data-cellId="grid_footcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vue_kpi_portefeuille_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field10}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
	</div>
<div class="r-below">
					{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
			</div>		
{END below-grid_block}
	</div>




										{$footer}
				</div>
			</div>
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
